body {
	font-style: normal;
	font-size: 120%;
	margin: 1%;
	padding: 1%;
	background-image: url("../images/super-mario-background.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 5em;
	font-weight: bold;
}

img {
	border: 3px;
	padding: 8px;
	margin: 8px;
	border-radius: 3px;
	max-width: 200px;
}

p, h1 {
	padding: 8px;
}

img:hover {
	border: 3px ridge red;
	margin: 8px;
	padding: 8px;
}

img:nth-child(3n + 3):hover {
    filter: grayscale();
    border: 6px dashed rgb(253, 47, 25);
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

img:nth-child(3n + 3):hover {
    border: 6px solid rgb(253, 47, 25);
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

div {
	padding: 8px;
}

.pictures {
	border: 1px;
	margin: 48px 0;
	justify-items: center;
	display: grid;
	grid-template-columns: 1fr;
	overflow: visible;
}

header, nav, main, h1, footer {
	margin: 8px 0;
	border: 1px solid black;
}

nav {
	text-align: center;
}

nav li {
	background-color: yellow;
	padding: 8px;
	width: 20%;
	border: 1px solid black;
	display: inline-block;
	width: 12%;
	text-align: center;
}

.active a {
	color: yellow;
	background-color: black;
	text-decoration: none;
	text-transform: uppercase;
}

a.skip {
	background-color: darkgreen;
	padding: 5px;
	-webkit-transition: top 0.5s ease-out;
	transition: left 0.5s ease-out;
	z-index: 1;
	left: -450px;
	position: absolute;
}